.DS_Store
/site/accounts
/assets/avatars
/thumbs/*

/content/
/frontend/
/kirby/
/panel/

license.md
readme.md
_old/


Icon
.DS_Store
/thumbs/*
!/thumbs/index.html
/site/cache/*
!/site/cache/index.html
/site/accounts/*
!/site/accounts/index.html
/assets/avatars/*
!/assets/avatars/index.html


/bower_components/
/node_modules/
/content/
/_content/
/_thumbs/